<div style="width: 100%">
  <div style="width: 20%; margin-left: 20%">
    <h5>REGISTRATION PAGE</h5>
    <form action="/register" method="post" enctype="multipart/form-data">
      <input type="text" name="name"> Name <br>
      <input type="password" name="password"> Password <br>
      <input type="email" name="email"> Email <br>
      <input type="file" name="file"> Image <br>
      <input type="submit" value="Register me" style="background-color: khaki">
    </form>

    <br><br><br>

    <h5>LOGIN PAGE</h5>
    <form action="/welcome" method="post">
      <input type="text" name="name"> User Name <br>
      <input type="password" name="password"> Password <br>
      <input type="submit" value="Login!" style="background-color: khaki">
    </form>

    <!--<br><br>-->
    <!--<form routerLink="/facebook" method="get">-->
      <!--<input type="submit" value="Login with Facebook" style="background-color: cornflowerblue">-->
    <!--</form>-->

    <!--<br><br>-->
    <!--<form routerLink="/google" method="get">-->
      <!--<input type="submit" value="Login with Google" style="background-color: snow">-->
    <!--</form>-->
    <!--<br><br><br>-->

    <h5>RESET PASSWORD</h5>
    <form action="/auth/reset" method="post">
      <input type="email" name="email"> Email <br>
      <input type="submit" value="Reset!" style="background-color: khaki">
    </form>
  </div>
</div>
